* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --bg-body: linear-gradient(45deg, #030b3f 0%, #00bbff 100%);
  /* esquema para poder mudar facilmente a cor do menu de controles, trnsformo as cores em "hsl" e crio uma variável 
  para a cor primária */
  --controls-baseColor: 400;
  --buttonsColors: hsl(var(--controls-baseColor), 100%, 63%);
  --bg-controls: hsla(var(--controls-baseColor), 100%, 63%, 0.30);
  --txtcolor-timer: #fff;
  
  /* font size */
  font-size: 62.5%;
  --fs-timer: clamp(6.0rem, 4.0rem + 10vw, 8.8rem);

  /* font family */
  --ff-general: 'Roboto', sans-serif;
}

body {
  background: var(--bg-body);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
  font-family: var(--ff-general);
  display: grid; /* desbloqueia as funcionalidades de alinhamento isolado de cada elemento filho */
  height: 100vh;
}

main {
  align-self: end; /* alinha o elemento isolado no eixo Y (verticalmente) */
  justify-self: center; /* alinha o elemento isolado no eixo X (horizontalmente) */
  /* Outra opção seria usar um display flex no "main", um "align-itens: center" no "body" e um "position: absolute" no "sound-container" */
}

main h1 {
  color: #fff;
  text-align: center;
  padding-bottom: 2.0rem;
  font-size: clamp(1rem, 1.0rem + 5vw, 2.5rem);
}

main .timer {
  color: var(--txtcolor-timer);
  font-size: var(--fs-timer);
  display: flex;
}

main .controls {
  background: var(--bg-controls);
  padding: 2.2rem 4.0rem;
  margin-top: 1.6rem;
  border-radius: 99rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;

  width: clamp(10rem, 10rem + 30vw, 22.8rem);
  height: clamp(8.0rem, 5.0rem + 10vw, 10.8rem);
}

button {
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  transform: scale(1.1);
}

button svg {
  width: clamp(4.0rem, 2.0rem + 12vw, 6.4rem);
}

.play svg path {
  fill: var(--buttonsColors);
}

.pause svg path {
  fill: var(--buttonsColors);
}

.sound-on svg path {
  fill: var(--buttonsColors);
}

.hide {
  display: none;
}

.music-container {
  justify-self: end;
  align-self: flex-end;
  margin: 0 4.0rem 3.2rem 0;
}

/* Animations */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}